@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Squid";
  src: url("../public/font/Game\ Of\ Squids.otf ") format("otf"),
    url("../public/font/Game\ Of\ Squids.ttf") format("truetype");
  font-weight: medium;
  font-style: medium;
}

.bigbox {
  display: flex;
  flex-direction: column;
}
.nav {
  width: 100%;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
  transition: all ease 1s;
}
.tile {
  min-width: 385px;
  border-radius: 14px;
  aspect-ratio: 1/1;
  transition: all ease 0.5s;
}
@media (max-width: 900px) {
  .tile1 {
    min-height: 385px;
    aspect-ratio: 2.09/1;
  }
}
@media (max-width: 805px) {
  .tile1 {
    min-width: 385px;
    border-radius: 14px;
    aspect-ratio: 1/1;
  }
}
.showimg {
  opacity: 0.9;
}
.tile1 {
  background-image: linear-gradient(135deg, #3300ff 0%, #ff00ff 100%);
}
.tile2 {
  background-image: url(../public/e-cell-mnnit-squarelogo-1663839558030\ 1.png);
  background-size: cover;
  background-position: center;
  border-radius: 14px;
}
.nine {
  min-width: 385px;
  aspect-ratio: 1/1;
  border: 1px solid black;
  border-radius: 14px;
  background-color: rgba(217, 217, 217, 1);
}
.box {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 67, 217, 1);
  border-radius: 14px;
}
@media (max-width: 400px) {
  .tile {
    min-width: 250px !important;
    aspect-ratio: 1/1 !important;
  }
  .tile1 {
    min-height: 250px;
    aspect-ratio: 1/1;
  }
  .nine {
    min-width: 250px;
    aspect-ratio: 1/1;
  }
}

.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}
.bigcontainer {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.circleimg {
  position: absolute;
  scale: 0.8;
  bottom: -20%;
  right: 5%;
}
.triangleimg {
  position: absolute;
  scale: 0.8;
  top: -10%;
  left: 7%;
}
.squareimg {
  position: absolute;
  scale: 0.8;
  top: 0;
  right: 9%;
}
.heading {
  font-size: 6.5rem;
  color: #000;
  font-family: "Squid";
}
p {
  font-size: 14px;
  color: #000;
}
h3 {
  font-size: 2rem;
  color: #000;
}
.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.circle img {
  object-fit: contain;
  border-radius: 50%;
}
.introo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.intro a {
  font-size: 1.6rem;
  border: 3px solid #e93e7d;
  padding: 5px 10px;
  width: max-content;
}
